<footer class="site-footer">
    <ul class="nav">
        <li>
            <a href="" class="site-footer__social-anchor">
                <svg class="site-footer__social-icon"><use xlink:href="#shape-facebook-icon" /></svg>
            </a>
        </li>
        <li>
            <a href="" class="site-footer__social-anchor">
                <svg class="site-footer__social-icon"><use xlink:href="#shape-instagram-icon" /></svg>
            </a>
        </li>
        <li>
            <a href="" class="site-footer__social-anchor">
                <svg class="site-footer__social-icon"><use xlink:href="#shape-twitter-icon" /></svg>
            </a>
        </li>
        <li>
            <a href="" class="site-footer__social-anchor">
                <svg class="site-footer__social-icon"><use xlink:href="#shape-youtube-icon" /></svg>
            </a>
        </li>
    </ul>
    Copyright 2014 Atletcoaching
</footer>