<header class="masthead">
  <div class="site-wrapper">
    <div class="responsive-svg-container  logo-container  masthead-logo">
      <a href="/" title="Tillbaka till toppen">
        <svg class="responsive-svg  logo  logo--inverted"><use xlink:href="#shape-atletcoaching-logo" /></svg>
        <img src="img/dot-landscape.gif" class="dot" alt="Atletcoaching" />
      </a>
    </div>
    <div class="masthead__menu">
        <nav class="nav-collapse">
          <ul>
              <li><a href="#about">Om oss</a><span class="box"></span></li>
              <li><a href="#testimonials">Våra kunder</a></li>
              <li><a href="#contact">Kontakta oss</a></li>
          </ul>
      </nav>
    </div>
  </div>
</header>