@charset "UTF-8";
/*------------------------------------*\
    BASE
\*------------------------------------*/



// Typography
//====================================================================================
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Oswald:700|Montserrat:400);


body { 
    color: $brand-black;
    font-family: 'Droid Sans', sans-serif;
}
h1, h2, h3, h4 { 
    font-family: $brand-face;
    font-weight: 400;
    margin-bottom: $half-spacing-unit;
    text-transform: uppercase;
}

h1 {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

a { color: $brand-signal; }